.ui-table {
    
    .b-table {
        &.is-loading {
            min-height: 200px;
        }
        
        .level {
            display: none;
        }
        
        .table {
            .th-wrap {
                width:     100%;
                flex-grow: 1;
            }
            
            tr.detail {
                background: none;
                box-shadow: none;
                
                .detail-container {
                    padding: 0;
                }
                td {
                    border-top: none;
                }
            }
        }
        
        td {
            vertical-align: top;
        }
        
        .button {
            height:  1.5em;
            padding: 0 8px;
        }
        
        &__cell {
            &--actions {
                display:         flex;
                flex-direction:  column;
                justify-content: center;
                align-items:     flex-end;
                min-height:      28px;
                width:           100%;
            }
        }
    }
    
    .loading-overlay {
        left:           40px;
        right:          40px;
        top:            40px;
        bottom:         40px;
        
        pointer-events: none;
        overflow:       visible;
        border-radius:  20px;
        
        .loading-background {
            filter:     blur(15px);
            background: rgba(255, 255, 255, 0.1);
        }
        .loading-icon {
            position: sticky;
            top:      calc(100vh / 2 - 100px);
            bottom:   calc(100vh / 2 - 100px);
        }
    }
}
